<%inherit file="/base.html"/>
<%block name="content">
        <!-- content start -->
        <div class="king-content-wrap">
            <div class="king-layout1-content" style="margin-left: 216px;">
                <form class="form-horizontal">
                    <div class="form-group clearfix ">
                        <label class="col-sm-3 control-label bk-lh30 pt0">主库ip：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control bk-valign-top" id="" placeholder=""> </div>
                    </div>
                    <div class="form-group clearfix ">
                        <label class="col-sm-3 control-label bk-lh30 pt0">备库ip：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control bk-valign-top" id="" placeholder=""> </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button type="button" class="king-btn mr10  king-success">查询</button>
                        </div>
                    </div>
                </form>
                <button class="king-btn-demo king-btn king-warning" title="主备切换" onclick="newPage()">
                    <i class="fa fa-cog btn-icon"></i>主备切换
                </button>

                <div class="king-block king-block-themed bk-ranger-box mb10" id="list_1566874879254">
                    <div class="king-block-header king-success">
                        <h3 class="king-block-title pt10 pb10">
                            <span class="fa fa-bar-chart mr5"></span>数据库切换记录</h3>
                    </div>
                    <div class="ranger-box">
                        <table class="table mb0 pr15 ranger-header-box"  id="dbexchangelog">
                            <thead>
                                <tr>
                                    <th class="p15" style="width:20%;">主库ip</th>
                                    <th style="width:20%;">备库ip</th>
                                    <th style="width:20%;">切换方向</th>
                                    <th style="width:20%;">操作用户</th>
                                    <th style="width:20%;">切换时间</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <!-- 设置面板Start -->
                <template id="list2_tpl">
                    <tr>
                        <td class="p15" style="width:20%;">#main_ip#</td>
                        <td style="width:20%;">#stadnby_ip#</td>
                        <td style="width:20%;">#exchange_direction#</td>
                        <td style="width:20%;">#operator#</td>
                        <td style="width:20%;">#create_time#</td>
                    </tr>
                </template>
                <template id="list2_nodata_tpl">
                    <tr>
                        <td colspan="3">
                            <p class="bk-nodata-tip">暂时没有数据</p>
                        </td>
                    </tr>
                </template>
                <!-- 设置面板End -->
            </div>
        </div>
        <!-- content end -->
    <script>
        $(function(){
           var li = $('.navbar-nav li');
           li.each(function(){
           $(this).click(function(){
             if( $(this).hasClass('opens')){
               $(this).find('ul').slideUp(350);
               $(this).removeClass('opens');
             }else{
               $(this).find('ul').slideDown(350);
               $(this).addClass('opens');
                }
             })
            });
        })
    </script>
    <script>
        function renderTpl(str, cfg) {
                var re = /(#(.+?)#)/g;

                return str.replace(re, function() {
                    var val = cfg[arguments[2]]+'';
                    if(typeof val == 'undefined') {
                        val = '';
                    }
                    return val;
                });
            }

            function initList2(conf){
                // 异步请求后台数据
                $.ajax({
                    url: conf.url,
                    type: 'GET',
                    dataType: conf.dataType,
                    success: function(res){
                    //获取数据成功
                        if (res.code == 0){
                            var _html = ' ';
                            var list = res.data;
                            var tpl = $('#list2_tpl').html();

                            if (list.length == 0){
                                _html = $('#list2_nodata_tpl').html();
                            }else{
                                for (var i=0,len=list.length; i < len; i++){
                                    var item = list[i];
                                    _html += renderTpl(tpl, item)
                                }
                            }
                            $(conf.container).find('.ranger-box tbody').html(_html);
                        }
                    }
                });
            }
        function newPage() {
            window.location.href="${SITE_URL}newDbExchangeLog"
        }
    </script>
    <script>
        initList2({
                url: '${SITE_URL}getDbExchangeLog',
                dataType: 'json',
                container: '#list_1566874879254'
            });
    </script>

<script type="text/javascript">
    //表格(DataTables)-1，html数据源
    var language = {
      search: '搜索：',
      lengthMenu: "每页显示 _MENU_ 记录",
      zeroRecords: "没找到相应的数据！",
      info: "分页 _PAGE_ / _PAGES_",
      infoEmpty: "暂无数据！",
      infoFiltered: "(从 _MAX_ 条数据中搜索)",
      paginate: {
        first: '首页',
        last: '尾页',
        previous: '上一页',
        next: '下一页',
      }
    }
    $('#dbexchangelog').dataTable({
      paging: true, //隐藏分页
      ordering: false, //关闭排序
      info: false, //隐藏左下角分页信息
      searching: false, //关闭搜索
      pageLength : 5, //每页显示几条数据
      lengthChange: false, //不允许用户改变表格每页显示的记录数
      language: language //汉化
    });
</script>
</%block>