<%inherit file="/base.html"/>
<%block name="content">
<div>
    机位上一般显示设备名称，鼠标移到设备名称上，可显示设备详细信息。<br/>
    当设备名称为红色，表示电子设备表里的服务器、网络安全设备未关联到自动发现的服务器、网络安全设备，系统使用资产名称替换设备名称显示，并标记为红色。<br/>
    当设备名称为红色，需手工把电子设备与服务器、网络安全设备进行关联。
</div>
<input id="keyword" type="text" value="请输入关键字查找" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style ="#999;"/>
<button id="search-button" onclick="findByKeyWord()">搜索</button>
<button id="search-button" onclick="updateData()">更新</button>
<div class="container-fluid" id="computer_room"/>
<link href="${STATIC_URL}css/computer_room_2d.css" rel="stylesheet">
<link href="${STATIC_URL}css/jquery-ui.min.css" rel="stylesheet">
<script>
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if(r != null) return decodeURI(r[2]);
        return null;
    }
    $(function () {
        $(document).tooltip({
            position: { my: "left+50 center", at: "right center" },
            items: "[data-geo]",
            content: function() {
                var element = $( this );
                console.log(element.is( "[data-geo]" ));
                if ( element.is( "[data-geo]" ) ) {
                    var text = element.text();
                    var content = '';
					if(isIntNum(text)){
						content += "<div>单元 "+ text +" 可使用</div>";
					}else{
						text = text.split("@@")[1] + "";
						var infoArray= text.split("@");
						content = "<div>";
						infoArray.forEach(function (info) {
                            content += info+"<br/>"
                        })
						content += "</div>";
					}
                    return content;
                }

            }
        });
        var jfid=GetQueryString("jfid");
        if(jfid==null || jfid == 'undefined' || jfid == ''){
            jfid = 2;
        }

        $.ajax({
            url: "${SITE_URL}search_instFromBK/",
            type: 'POST',
            data: {'jfid':jfid},
            dataType: 'json',
            success: function(res){
            //获取数据成功
                var heightOfJw = 46;
                var map = new Map();
                var result = res.result;
                if (result.code == 0){
                    var data = result.data;
                    var info = data.info;
                    for(var i = 0;i<info.length;i++){
                        var inst = info[i];
                        var jg = inst.jg;
                        var jw = inst.jw;
                        //剔除掉机柜、机位为空的数据
                        if(jg == undefined || jw == undefined || jg == '' || jw == '') continue;
                        //console.log(inst.bk_inst_name +'@'+ jg+'@'+jw);
                        //占用多个机位的设备，机位格式为m-n，如1-2，计算出占用总长度
                        if(!isIntNum(jw)){
                            var temp = jw.split('-');
                            jw=temp[0];
                            inst.jw_length = temp[1] - temp[0] + 1;
                        }else{
                            inst.jw_length = 1;
                        }
                        //把每个机柜放map里，map格式：key为机柜编号，value为该机柜下所有设备的数组
                        if(!map.has(jg)){
                            var arr = new Array();
                            arr[jw] = inst;
                            map.set(jg,arr);
                        }else{
                            var arr = map.get(jg);
                            arr[jw] = inst;
                            map.set(jg,arr);
                        }
                    }
                }

                //机位数组，把机位进行排序
                var jwList = new Array();
                map.forEach(function (value, key) {
                    jwList.push(key);
                });
                jwList = sortArray(jwList);

                //先画出所有机位、机柜图
                drawJW2D(jwList);

                jwList.forEach(function (jwName) {
                    var instList = map.get(jwName);
                    var dataList = new Array();
                    instList.forEach(function (inst,key) {
                        var length = inst.jw_length;
                        var sbmc = inst.sbmc;
                        var bk_inst_name = inst.bk_inst_name;
                        var jskj_xlh = inst.xlh;//序列号
                        var jskj_xh = inst.jskj_xh;//型号
                        var sbip = inst.sbip;//设备ip
                        var sbip_ilo = inst.sbip_ilo;//ilo ip
                        var jskj_zclb = inst.jskj_zclb;
                        var jskj_jgjw = inst.jg + ',' + inst.jw;//机柜、机位
                        var info = "设备名称：" + sbmc;
                        info = info + "@资产类型：" + getSblxCH(jskj_zclb);
                        info = info + "@资产编号：" + bk_inst_name;
                        //服务器、网络设备显示管理ip、设备ip
                        if(jskj_zclb == '1' || jskj_zclb == '3' || jskj_zclb == '4' || jskj_zclb == '5'){
                            if (sbip_ilo != null && sbip_ilo != undefined && sbip_ilo != '')
                                info = info + "@管理ip："+sbip_ilo;
                            if (sbip != null && sbip != undefined && sbip != '')
                                info = info + "@设备ip："+sbip;
                        }
                        info = info + '@序列号：'+jskj_xlh+'@型号：'+jskj_xh+'@位置：'+jskj_jgjw;
                        dataList.push({index: key, name: sbmc, zcmc : inst.jskj_zcmc , info : info, length: length, type: jskj_zclb});
                    })
                    //把设备数据放在机位上
                    appendData2JW(jwName,heightOfJw, dataList)
                })
            }
        });
    })
    function getSblxCH(jskj_zclb){
        var sblxCH = "";
        if(jskj_zclb == '1')
            sblxCH = "服务器";
        else if(jskj_zclb == '2')
            sblxCH = "存储设备";
        else if(jskj_zclb == '3')
            sblxCH = "路由器";
        else if(jskj_zclb == '4')
            sblxCH = "交换机";
        else if(jskj_zclb == '5')
            sblxCH = "网络安全设备";
        else if(jskj_zclb == '6')
            sblxCH = "配件";
        return sblxCH;
    }
    function drawJW2D(jwList){
        var count = 0;
        var rowNum = 6;
        var content = '';
        jwList.forEach(function (jwName) {
            if (count == 0) {
                content = '<table class="table">' + '<tbody><tr>';
            }
            if ((count + 1) / rowNum > 1 && (count + 1) % rowNum == 1) {
                content = content + '<tr>';
            }
            content = content + '<td>';
            content = content + '<div id="titleBlockOf' + jwName + '" class="titleBlock" align="center">' +
                '<font color="white" style="font-weight: bold">' + jwName + '</font>' +
                '</div>' +
                '<div id="parentBlockOf' + jwName + '" class="parentBlock">' +
                '<div id="innerContentBlockOf' + jwName + '" class="innerContentBlock">' +
                '</div>' +
                '</div>';
            content = content + '</td>';

            if ((count + 1) % rowNum == 0 && (count + 1) != jwList.length) {
                content = content + '</tr>';
            }
            if ((count + 1) == jwList.length) {
                content = content + '</tr></tbody> </table>';
            }
            count++;
        })
        $('#computer_room').append(content);
    }

    function removeAllSpan(){
        var allSpans = document.getElementsByTagName("span");
        var length = allSpans.length;
        if(length >0){
            for(var i=length-1;i>=0;i--){
                var span = allSpans[i];
                if(typeof(span) == 'undefined' || span == null) continue;
                if(span.id !='jfSpan') continue;
                var parentNode = span.parentNode;
                var childList = parentNode.childNodes;
                for(var j=0;j<childList.length;j++){
                    parentNode.removeChild(childList[j]);
                }
                parentNode.innerHTML = span.innerHTML;
            }
        }
    }

    function updateData(){
        $.post('${SITE_URL}updateJf2dRptData/', {}, function(data){
                    if(data.result){
                        alert("更新成功。")
                        //findByKeyWord();
                    }else{
                        alert(data.message)
                    }
                }, 'json')

    }
    function findByKeyWord(){
        removeAllSpan();

        var keyWord = document.getElementById("keyword").value;
        var allPs = document.getElementsByTagName("p");
        length = allPs.length;
        var isExistFLag = false;
        for(var i=0;i<length;i++){
            var p = allPs[i];
            var innerHTML = p.innerHTML;
            var index = innerHTML.indexOf(keyWord);
            if(index>0){
                var parentNode = p.parentNode;
                window.location.hash = "#"+parentNode.id;
                var childNodes = parentNode.childNodes;
                childNodes[0].innerHTML = '<span id="jfSpan" style="color:#0f0">'+childNodes[0].innerHTML+'</span>';
                //break;
                isExistFLag = true;
            }
        }
        if(!isExistFLag)
            alert('未查询到相关数据。');
    }
	function isIntNum(val){
		var regPos = /^[1-9]+[0-9]*]*$/;
		if(regPos.test(val)){
			return true;
		}else{
			return false;
		}
	}

    function sortArray(array){
        //一个新的对象
        var obj = {};
        //遍历当前数组
        for(var i = 0; i < array.length; i++){
            if (obj[array[i].slice(0,1)]){
                obj[array[i].slice(0,1)].push(array[i])
            }else {
                obj[array[i].slice(0,1)] = new Array()
                obj[array[i].slice(0,1)].push(array[i])
            };
        }
        // 单个数组排序
        var newArr = Object.keys(obj).sort().map((item)=>{return obj[item].sort((a,b)=>{return a.slice(1)-b.slice(1)})})
        // 合并返回
        return newArr.map((item)=>{return item.join(',')}).join(',').split(',')
    }

    function appendData2JW(jwName,unitCount, dataList) {
        var blockInterval = 3;//单元的间隔
        var blockHeight = 12;//单元高度
        var map = {};
        for (var i = 0; i < dataList.length; i++) {
            map[dataList[i].index + dataList[i].length - 1] = dataList[i];
        }
        var parentBlockHeight = (blockHeight + blockInterval) * unitCount + 40+ 'px';
        var idOfParentBlockOf = '#parentBlockOf'+jwName;
        $(idOfParentBlockOf).css('height', parentBlockHeight);
        var content = "";
        for (var i = unitCount; i >= 1; i--) {
            if (typeof(map[i]) == 'undefined') {
               var height = blockHeight +  'px';
               content += '<div id="'+jwName+i+'"  class="areaBlock" align="center" style="height: ' + height + '" data-geo=""><div class="blockFont">' + i + '</div></div>'
               //content += '<div class="areaBlock" align="center" style="height: ' + height + '" data-geo=""><div class="blockFont">' + i + '</div></div>'
            } else {
                var length = parseInt(map[i].length);
                //设备name为空，即未关联设备，设备名称使用资产名称代替，且在显示到前端时，如设备类型为服务器、网络安全设备，设备名称变红
				var name = map[i].name;
				var type = map[i].type;
                if(name==null || name == 'undefined' || name == ''){
                    if(type == '1' || type == '3' || type == '4' || type == '5')
                        name = '<font color="red">'+ map[i].zcmc + '</font>';
                    else
                        name = map[i].zcmc;
                }
				var info = map[i].info;
                var height = blockHeight * (length) + blockInterval * (length - 1) + 'px';
                var temp_i = i - (length - 1);
                content += '<div  id="'+jwName+i+'"  class="areaBlock" align="center" style="height: ' + height + '" data-geo=""><div class="blockFont">' + name + '</div><p style="visibility:hidden">@@' +  info+ '</p></div>'
                //content += '<div class="areaBlock" align="center" style="height: ' + height + '" data-geo=""><div class="blockFont">' + name + '</div><div style="visibility:hidden">@@' +  info+ '</div></div>'
				i = temp_i;
            }

        }
        var innerContentBlockOf = '#innerContentBlockOf'+jwName;
        $(innerContentBlockOf).append(content)
    }
</script>
</%block>