        .titleBlock {
            width: 200px;
            height: 10px;
            border: solid 18px;
            margin: 0 auto;
            background-color: black;
        }

        .parentBlock {
            width: 200px;
            border: solid 18px;
            margin: 0 auto;
            background-color: dimgrey
        }

        .innerContentBlock {
            width: 100%;
            height: 100%;
            background-color: dimgrey
        }

        .areaBlock {
            width: 180px;
            height: 12px;
            margin: 0 auto;
            margin-top: 3px;
            background-color: black;
            text-align: center;
        }

        .areaBlockWithImg {
            width: 180px;
            height: 12px;
            margin: 0 auto;
            margin-top: 3px;
            background-color: black;
            text-align: center;
            #background-image: url(switch.png);
            #background-size: 100% 100%;
            #-moz-background-size: 100% 100%;
            #color: transparent;
        }

        .blockFont {
            line-height: 12px;
            color: white;
            font-size: 10px
        }
